@font-face {
  font-family: "pingfangsc";
  src: url("./pingfangsc-regular.woff2") format("woff2"),
       url("./pingfangsc-regular.woff") format("woff");
  font-weight: normal;  
  font-style: normal;  
}
// // app global css in Stylus form
* {
  font-family: "pingfangsc";
}

html,
body {
//   min-width: 1440px;
  width: 100%;
  height: 100%;
}

