// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #00d6c2
$secondary = #6AB0A9
$accent    = #9C27B0

$dark      = #2a3542

$positive  = #6AB0A9
$negative  = #C10015
$info      = #78d7eb
$warning   = #fdff6b

//已定义主要
$dgreen = #00d6c2

$dblack = #2a3542
$dgrey = #8c909d


$dorange = #eb9534
$dred = #ff6262
//已定义次要
$dhover = #6ab0a9


$dback = #d4f6f3
$dclickedback = #c7efec
$dtab = #ffeae4
$dgroupselect = #e4e4e4
$dgroupselect2 = #f1f1f1
$dwhite = #f8f8f8