@import './_imageGrid.scss';

.waiting {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 706px;
  max-width: unset;
  border-radius: 10px;
  background: #fff;
  box-shadow: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  border-bottom: 1px solid #E8E8E8;
  padding-left: 20px;
  &_right {
    font-size: 16px;
    padding-right: 37px;
    color: var(--q-color-primary);
  }
}

.body {
  padding-left: 29px;
  padding-right: 34px;
  padding-top: 21px;
  display: flex;
}

.avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 10px;
}

.textarea {
  font-size: 16px;
  flex: 1;
  border-radius: 4px;
  padding-top: 5px;
  margin-bottom: 30px;

  /deep/ textarea {
    padding: 0 !important;
    min-height: unset !important;
    line-height: 1.5 !important;
  }

  /deep/ .q-field__control {
    min-height: unset !important;
  }
}

.sendPostBtn {
  width: 140px;
  height: 34px;
  margin-left: 14px;
  /deep/ .svg-icon {
    margin-right: 6px;
    font-size: 14px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
  padding-left: 74px;
  padding-right: 34px;
  &_right {
    display: flex;
    align-items: center;
  }
}

.imgBtn {
  margin-right: 26px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &[data-disabled="true"] {
    color: var(--light-grey);
  }
}

.media {
  grid-gap: 16px;
  padding-left: 74px;
  padding-right: 34px;
  margin-bottom: 20px;
  height: 332px;
}

.media:empty {
  height: 40px;
}

.imgItem {
  position: relative;
  min-height: 158px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
}

.videoItem {
  position: relative;
  display: flex;
  justify-content: center;
}

.removeBtn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 5px;
  color: white;
  background: #ff6262;
  border-radius: 50%;
  font-size: 14px;
}

.maxTextErr {
  color: red;
}

.wordLength {
  color: #8c909d;
}
